
html {
  background-color: #F7EFE7;
  color:#312C38;
}

h1 {
  font-size: 72px;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  margin-top: 25px;
}

p {
  font-size: 24px;
}

.main {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 715px;
  align-items: center;
}