.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7EFE7;
  padding-top: 30px;
}

.home-para {
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
