footer {
  background-color: #312C38;
}

.footer-img {
  padding-right: 10px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
}

.footer-bottom {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  color: white;
  font-size: 20px;
}
