.submission-map-container {
  width: 100vw;
  height: 100vh;
}

#submission-navbar {
  z-index: 2;
  position: absolute;
  width: 100vw;
}

.submission-search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

#submission-item {
  z-index: 3;
  cursor: pointer;
}

.submit-button {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#submission-button {
  max-width: 250px;
}

.gm-style .gm-style-iw-c {
  padding: 14px
}

.submission-search-icon {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 160px;
  border-radius: 60px;
  cursor: pointer;
  outline: 3px solid white;
  transition: ease .5s;
}

.submission-search-icon:hover {
  transition: ease .5s;
  outline: 3px solid black;
}

.submission-info-icon {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 85px;
  border-radius: 60px;
  cursor: pointer;
  outline: 3px solid white;
  transition: ease .5s;
}

.submission-info-icon:hover {
  transition: ease .5s;
  outline: 3px solid black;
}

.submission-recenter-icon {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 235px;
  border-radius: 60px;
  cursor: pointer;
  outline: 3px solid white;
  transition: ease .5s;
}

.submission-recenter-icon:hover {
  transition: ease .5s;
  outline: 3px solid black;
}

.submission-toaster {
  position: absolute;
  z-index: 3;
  top: 65px;
  left: 100%;
  transform: translateX(-100%);
}
