.submission-map-container {
  width: 100vw;
  height: 100vh;
}

.submission-navbar {
  z-index: 2;
  position: absolute;
  width: 100vw;
}

.submission-search {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 425px;
}

.submission-item {
  z-index: 2;
  cursor: pointer;
}

.submission-infobox {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 1%
}
