.submission-container {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.submission-subheading {
  padding-top: 30px;
}

.submission-para {
  padding-top: 10px;
}

button.gm-ui-hover-effect {
  visibility: hidden;
}

.gm-style .gm-style-iw-c {
  padding: 6px;
}
